<header></header>

<main>

  <div class="サーチ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8
          col-md-offset-2 col-lg-offset-2">
          <input
            ng-model="vm.query"
            type="text"
            size="99"
            placeholder="Поиск по {{ vm.kanji.length }} иероглифам. Пиши на русском, хираганой, катаканой и кандзи">

          <div class="グループ">
            <span
              ng-repeat="group in vm.groups | orderBy: -'group'"
              ng-click="vm.applyGroup(group)">
              {{ group }}
            </span>
          </div>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- サーチ -->

  <widget></widget>

  <div class="container アイテム">
    <div class="row"
      ng-repeat="word in vm.kanji | filter: vm.query | orderBy: 'meaning' | limitTo: vm.limit">

      <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 col-md-offset-3 col-lg-offset-3 col">
        <span class="漢字">
          {{ word.character }}
        </span>
        <span class="jlpt">
          {{ word.jlpt }}
        </span>
      </div><!-- col -->

      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
        <p class="音読み">
          <span class="題" ng-if="vm.getKunyomiAndOnyomi(word.onyomi).length">
            Он
          </span>
          <span ng-repeat="on in vm.getKunyomiAndOnyomi(word.onyomi) track by $index">
            {{ on }}
            <br>
          </span>
        </p>
        <p class="訓読み">
          <span class="題" ng-if="vm.getKunyomiAndOnyomi(word.kunyomi).length">
            Кун
          </span>
          <span ng-repeat="kun in vm.getKunyomiAndOnyomi(word.kunyomi) track by $index">
            {{ kun }}
            <br>
          </span>
        </p>
      </div><!-- col -->

      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
        <p class="意味">
          {{ word.meaning }}
        </p>
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->

  <div class="container モレ">
    <div class="row">

      <div class="ボタン 青い アウトライン"
        ng-click="vm.showMore()"
        ng-show="(vm.kanji | filter: vm.query).length > vm.defaultLimit && vm.limit < (vm.kanji | filter: vm.query).length"
      >
        Показать еще
      </div>

    </div><!-- row -->
  </div><!-- container -->

</main>

<footer></footer>
