@import '../../colors';
@import '../../mixins';

.サーチ {
  position: fixed;
  z-index: 3;

  top: 0;

  background: rgba(255, 255, 255, .95);
  padding: 5px 0;

  input[type="text"] {
    outline: none;
    padding: 5px 10px;

    width: 100%;
    display: block;

    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 3px;

    background: rgba(255, 255, 255, .75);

    &:focus {
      border: 2px solid $青い;
    }
  }
}

.グループ {
  padding: 3px 0;
  transition: .333s;

  &.scrolled {
    opacity: .21;

    &:hover {
      opacity: 1;
    }
  }

  span {
    display: inline-block;
    cursor: pointer;

    font-size: 10px;
    color: $青い;

    padding-right: 10px;

  }
}

.アイテム {
  margin-top: 70px;

  .row {
    padding: 30px;
  }

  .漢字 {
    font-size: 84px;
    color: $金;
    font-family: Serif;

    text-align: center;

    display: block;

    cursor: default;

    @media (#{$phone}) {
      font-size: 60px;
      margin-top: 10px;
    }

    &:hover {
      font-family: Serif;
    }
  }

  .jlpt {
    font-size: 8px;
    color: #99C5F7;

    border-radius: 3px;
    border: 1px solid #B3D3F8;

    padding: 2px 4px;

    position: absolute;
  }

  .音読み, .訓読み {

    @media (#{$phone}) {
      padding-left: 20px;
    }

    .題 {
      font-size: 10px;
      color: #CCC;

      display: block;
    }
  }

  .意味 {
    font-size: 14px;
    text-transform: capitalize;

    margin-top: 26px;

    span {
      display: block;
    }
  }
}

.モレ {
  text-align: center;

  margin-top: 50px;
  margin-bottom: 100px;
}