<header></header>

<main>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8
      col-md-offset-2 col-lg-offset-2">
        <div class="サーチ">
          <input
            ng-model="vm.query"
            type="text"
            size="99"
            placeholder="Поиск по {{ vm.kanji.length }} иероглифам. Пишите на русском, хираганой, катаканой и кандзи"
          >
        </div><!-- サーチ -->

      </div><!-- col -->
    </div><!-- row -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8
        col-md-offset-2 col-lg-offset-2 グループ">
        <ul>
          <li class="li"
            ng-repeat="group in vm.groups | orderBy: -'group'"
            ng-click="vm.applyGroup(group)">
            {{ group }}
          </li>
        </ul>
      </div><!-- グループ -->
    </div><!-- row -->

  </div><!-- container -->

  <div class="container">
    <div class="row アイテム"
      ng-repeat="word in vm.kanji | filter: vm.query | orderBy: 'meaning' | limitTo: vm.limit">

      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-md-offset-3 col-lg-offset-3 col">
        <span class="漢字">
          {{ word.character }}
        </span>
        <span class="jlpt">
          {{ word.jlpt }}
        </span>
      </div><!-- col -->

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <p class="音読み">
          <span class="題" ng-if="vm.getOnyomi(word.onyomi)">
            Онъёми
          </span>
          {{ vm.getOnyomi(word.onyomi) }}
        </p>
        <p class="訓読み">
          <span class="題" ng-if="vm.getKunyomi(word.kunyomi)">
            Кунъёми
          </span>
          {{ vm.getKunyomi(word.kunyomi) }}
        </p>
      </div><!-- col -->

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <p class="意味">
          {{ word.meaning }}
        </p>
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->

  <div class="container モレ">
    <div class="row">

      <div class="ボタン 青い アウトライン" ng-click="vm.showMore()">
        Показать еще
      </div>

    </div><!-- row -->
  </div><!-- container -->

</main>

<footer></footer>
